
  <ng-container>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="/assets/udg/images/theses.webm" alt="Theses" class="block-image" />
          <h3>Tesis</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="/assets/udg/images/research.webm" alt="Research" class="block-image" />
          <h3>Articles de Recerca</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="/assets/udg/images/teaching.webm" alt="Teaching" class="block-image" />
          <h3>Docència</h3>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="/assets/udg/images/dataset.webm" alt="Dataset" class="block-image" />
          <h3>Dades de Recerca</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="/assets/udg/images/theses.webm" alt="Theses" class="block-image" />
          <h3>Tesis</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="/assets/udg/images/theses.webm" alt="Theses" class="block-image" />
          <h3>Tesis</h3>
        </a>
      </div>
    </div>
  </div>
 </ng-container>
