
  <ng-container>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="'assets/udg/images/top/theses.webp'" alt="Theses" class="block-image" />
          <h3>Tesis</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="'assets/udg/images/top/research.webp'" alt="Research" class="block-image" />
          <h3>Articles de Recerca</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="'assets/udg/images/top/teaching.webp'" alt="Teaching" class="block-image" />
          <h3>Docència</h3>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 top-level-community-block">
        <a href="#" class="top-level-community-block-link">
          <img [src]="'assets/udg/images/top/dataset.webp'" alt="Dataset" class="block-image" />
          <h3>Dades de Recerca</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="https://dugifonsespecials.udg.edu/" class="top-level-community-block-link">
          <img [src]="'assets/udg/images/top/fons.webp'" alt="Theses" class="block-image" />
          <h3>Fons Especials</h3>
        </a>
      </div>
      <div class="col-lg-4 top-level-community-block">
        <a href="https://revistes.udg.edu/" class="top-level-community-block-link">
          <img [src]="'assets/udg/images/top/revistes.webp'" alt="Theses" class="block-image" />
          <h3>Revistes científiques</h3>
        </a>
      </div>
    </div>
  </div>
 </ng-container>
