<div class="citation-export-container">
  <div class="citation-export-header" (click)="toggleExpanded()">
    <h5>{{ 'citation-export.title' | translate }}</h5>
    <i 
      class="fas" 
      [class.fa-chevron-down]="!isExpanded" 
      [class.fa-chevron-up]="isExpanded"
      aria-hidden="true">
    </i>
  </div>
  
  <div class="citation-export-content" *ngIf="isExpanded">
    <div class="citation-export-form">
    <div class="form-group">
      <label for="citationFormat" class="form-label">
        {{ 'citation-export.format.label' | translate }}
      </label>
      <select 
        id="citationFormat" 
        class="form-select form-control" 
        [(ngModel)]="selectedFormat"
        (change)="onFormatChange($event.target.value)">
        <option *ngFor="let format of citationFormats" [value]="format.value">
          {{ format.label }}
        </option>
      </select>
    </div>
    
    <div class="citation-export-actions">
      <button 
        type="button" 
        class="btn btn-primary btn-sm"
        (click)="copyToClipboard()"
        [title]="'citation-export.copy.tooltip' | translate">
        <i class="fas fa-copy" aria-hidden="true"></i>
        {{ 'citation-export.copy.label' | translate }}
      </button>
      <button 
        type="button" 
        class="btn btn-primary btn-sm"
        (click)="downloadCitation()"
        [title]="'citation-export.download.tooltip' | translate">
        <i class="fas fa-download" aria-hidden="true"></i>
        {{ 'citation-export.download.label' | translate }}
      </button>
    </div>
  </div>
  
  <div class="citation-preview mt-3" *ngIf="selectedFormat">
    <h6>{{ 'citation-export.preview.title' | translate }}</h6>
    <div class="citation-preview-content">
      <pre>{{ getCitationPreview() }}</pre>
    </div>
  </div>
  </div>
</div>