// udg
:host {
    display: block;
  
    div.background-image-container {
      color: white;
      position: relative;
      background-repeat: no-repeat; /* Prevents the image from repeating */
      background-size: cover; /* Ensures the image covers the entire container */
      background-position: center; /* Centers the image within the container */
  
      .background-image > img {
        background-color: var(--bs-info);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
  
      .container {
        position: relative;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  
        &:before, &:after {
          content: '';
          display: block;
          width: var(--ds-banner-background-gradient-width);
          height: 100%;
          top: 0;
          position: absolute;
        }
  
        &:before {
          background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
          left: calc(-1 * var(--ds-banner-background-gradient-width));
  
        }
  
        &:after {
          background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
          right: calc(-1 * var(--ds-banner-background-gradient-width));
        }
  
        background-color: var(--ds-banner-text-background);
      }
  
  
      small.credits {
        a {
          color: inherit;
        }
  
        opacity: 0.3;
        position: absolute;
        right: var(--bs-spacer);
        bottom: 0;
      }
    }
  
    .jumbotron {
      background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black background for contrast */
      padding: 20px; /* Add some padding for better appearance */
      //border-radius: 8px; /* Optional: Add rounded corners for a softer look */
      padding-top: 150px;
      height: 400px;
      div {
        display: flex; /* Use Flexbox for alignment */
        flex-direction: column; /* Align items vertically */
        justify-content: flex-end; /* Align items to the bottom */
        text-align: bottom; /* Align text to the bottom */
        h1 {
          font-size: 40px;
          margin-bottom: 20px; /* Add some space between the title and the description */
        }
      }
    }
  
    a {
      color: var(--ds-home-news-link-color);
  
      @include hover {
        color: var(--ds-home-news-link-hover-color);
      }
    }
  }
  
  
  