<div class="item-page-field">
    <ds-metadata-values
      [mdValues]="item?.allMetadata(fields)"
      [separator]="separator"
      [label]="label"
      [enableMarkdown]="enableMarkdown"
      [urlRegex]="urlRegex"
      [browseDefinition]="browseDefinition|async"
    >
    <strong>manolo!</strong>
    <a href="https://dugi-doc.udg.edu" target="_blank">ORCID!</a>
    </ds-metadata-values>
 </div>
  
 <div class="item-page-field">
    <div *ngFor="let aut of item?.allMetadata(fields)">{{ aut.value }} | {{ aut.authority }}
        <a *ngIf="hasORCID(aut.authority) != ''" href="http://google.com" target="_blank">ORCID: {{ hasORCID(aut.authority) }}</a>
    </div>
    
 </div>